!.gitignore
!*.md
!LICENSE

# Ignore Folders
.vscode
.cloud
.storage
.google_api
.inactive
users
tts
image
custom_components/*/*
files
zz_test
dev
www/*
packages/*/google_cast
zigbee2mqtt
custom_sentences/nl/intents_repo
custom_icons

# Add these anyway
!www/community

# Ignore Extensions
*.db
*.old
*.log
*.conf
*.db-shm
*.db-wal
*.csv
*.log.*

# Ensure these files are ignored, otherwise your secret data/credentials will leak.
solcast*.json
ip_bans.yaml
secrets.yaml
known_devices.yaml
.google.token
google_calendars.yaml
homeassistant
.gitignore
.secret
claude-config/.claude.json
.claude/settings.local.json
.ha_run.lock
