- id: '1737403451714'
  alias: Music Assistant - Local(only) Voice Support Blueprint
  description: ''
  use_blueprint:
    path: music-assistant/mass_assist_blueprint_en.yaml
    input:
      default_player_entity_id_input: media_player.test_player
      album_trigger:
      - (play|listen to|bla bla) [the ](album|ep|record|compilation|single) {media_name}
        [by [the ](artist|band|group) {artist}] [(in|on|using) [the ]{area_or_player_name}][
        (with|using) {radio_mode}]
      track_trigger:
      - (play|listen to|bla bla) [the ](track|song) {media_name} [by [the ](artist|band|group)
        {artist}] [(in|on|using) [the ]{area_or_player_name}][ (with|using) {radio_mode}]
      artist_trigger:
      - (play|listen to|bla bla) [the ](artist|band|group) {media_name} [(in|on|using)
        [the ]{area_or_player_name}][ (with|using) {radio_mode}]
      radio_trigger:
      - (play|listen to|bla bla) [the ]((radio station)|(radio)|(station)) {media_name}
        [(in|on|using) [the ]{area_or_player_name}]
      playlist_trigger:
      - (play|listen to|bla bla) [the ]playlist {media_name} [(in|on|using) [the ]{area_or_player_name}][
        (with|using) {radio_mode}]
      response_input: 'TEST: {{ trigger.slots.media_name }} playing on {{ mass_player_name
        }}'
- id: '1737968496160'
  alias: Voice - Weather Forecast - Local Assist Blueprint
  description: ''
  use_blueprint:
    path: TheFes/1_voice_weather_forecast_local.yaml
    input:
      weather_entity: weather.combined
- id: '1737968516911'
  alias: Voice - Weather Forecast - Local Assist Blueprint
  description: ''
  use_blueprint:
    path: TheFes/1_voice_weather_forecast_local.yaml
    input:
      weather_entity: weather.combined
      today:
      - vandaag
      tomorrow:
      - morgen
      day_after_tomorrow:
      - overmorgen
      monday:
      - maandag
      tuesday:
      - dinsdag
      wednesday:
      - woensdag
      thursday:
      - donderdag
      friday:
      - vrijdag
      saturday:
      - zaterdag
      sunday:
      - zondag
      night:
      - vannacht
      - morgennacht
      - morgen nacht
      morning:
      - ochtend
      - morgenvroeg
      - morgen vroeg
      afternoon:
      - middag
      - vanmiddag
      - morgenmiddag
      evening:
      - morgenavond
      - vanavond
      - morgen avond
      clear: en helder
      clear-night: en helder
      cloudy: en bewolkt
      fog: en misting
      hail: met hagel
      lightning: met onweer
      lightning-rainy: met onweer en regen
      partlycloudy: en gedeeltelijk bewolkt
      pouring: met stortregen
      rainy: met regen
      snowy: met sneeuw
      snowy-rainy: met sneeuw en regen
      sunny: en zonnig
      windy: en winderig
      windy-variant: met wind en woken
      exceptional: met zeer uitzonderlijk weer
      response_invalid_phrase: Ik kan geen weersvoorspelling ophalen voor {{ phrase
        }}
      response_no_data: Geen weersvoorspelling beschikbaar voor {{ phrase }}
      response_forecast: Het wordt {{ temperature }} graden {{ condition_translated
        }}. {% if temperature != apparent_temperature %}Het voelt als {{ apparent_temperature
        }} graden.{% endif %} {% if precipitation_probability > rain_warning_threshold
        %}Er is {{ precipitation_probability }}% kans op {{ precipitation }} milimeter
        regen, dus neem een paraplu mee als je naar buiten gaat.{% endif %} {% if
        uv_index > 3 and condition in ['clear', 'partlycloudy'] %}De zon schijnt fel
        vandaag, dus doe zonnebrand op als je naar buiten gaat.{% endif %} {% if wind_speed
        >= wind_threshold %} De wind wordt {{ wind_phrase }}.{% endif %} {% if wind_speed
        >= wind_warning_threshold %}Dus als je niet per se naar buiten hoeft, blijf
        dan vooral lekker binnen.{% elif wind_speed >= wind_joke_threshold %}Dus zorg
        dat je {% if precipitation_probability > 10 %}paraplu {% else %}'t{% endif
        %}niet weg waait!{% endif %}
      wind_phrases:
        windstil: 0
        zwak: 1
        matig: 12
        vrij krachtig: 29
        krachtig: 39
        hard: 50
        stormachtig: 62
        een storm: 75
        een zware storm: 89
        een zeer zware storm: 103
        een orkaan: 118
      triggers:
      - Wat voor weer wordt het [[deze|komende] {phrase}]
      - Wat is de [weers]voorspelling [[voor] [deze|komende] {phrase}]
- id: '1738179908517'
  alias: Voice - Calendar Entries - Local Assist Blueprint
  description: ''
  use_blueprint:
    path: TheFes/1_voice_calendar_entries_local.yaml
    input:
      calendar_entity:
      - calendar.kids
      - calendar.thefes
      - calendar.m_m
      today:
      - vandaag
      tomorrow:
      - morgen
      day_after_tomorrow:
      - overmorgen
      monday:
      - maandag
      tuesday:
      - dinsdag
      wednesday:
      - woensdag
      thursday:
      - donderdag
      friday:
      - vrijdag
      saturday:
      - zaterdag
      sunday:
      - zondag
      night:
      - vannacht
      - morgennacht
      - morgen nacht
      morning:
      - ochtend
      - morgenvroeg
      - morgen vroeg
      afternoon:
      - middag
      - vanmiddag
      - morgenmiddag
      evening:
      - morgenavond
      - vanavond
      - morgen avond
      response_translations:
        Monday: maandag
        Tuesday: dinsdag
        Wednesday: woensdag
        Thursday: donderdag
        Friday: vrijdag
        Saturday: zaterdag
        Sunday: zondag
        January: januari
        February: februari
        March: maart
        April: april
        May: mei
        June: juni
        July: juli
        August: augustus
        September: september
        October: oktober
        November: november
        December: december
      event_singular: afspraak
      event_plural: afspraken
      no_events: Er zijn geen afspraken voor deze periode
      event_count: Op {date} heb je {event_count} {events}.
      day_event: Voor de hele dag staat er {event_list}.
      part_day_event: Van {start} tot {end} heb je {event_summary}.
      triggers:
      - wat staat er [voor|op] {phrase} op de (agenda|kalender|planning)
      - staat er [voor|op] {phrase} iets op de (agenda|kalender|planning)
- id: '1738230371255'
  alias: Voice - Get ToDo Entries - Local Assist Blueprint
  description: ''
  use_blueprint:
    path: TheFes/1_voice_get_todo_entries_local.yaml
    input:
      default_entity: todo.boodschappenlijst
      triggers:
      - wat staat er op [de] (boodschappen[ ]lijst|lijst (met de naam|genaamd) {list_name}|{list_name}[
        ]lijst)
      no_items_response: '{list_name} is leeg.'
      list_items_response: 'Er staan {item_count} dingen op: {list_items}'
      invalid_list_response: Ik kan geen lijst met de naam {list_name} vinden.
- id: '1743151381222'
  alias: Voice - Send Reminder - Automation
  description: ''
  use_blueprint:
    path: TheFes/0_voice_send_reminder.yaml
    input:
      recipients:
      - name: Martijn
        description: Father of the house
        notifiers:
        - alias: Send mobile notification to Martijn
          action: notify.phone_martijn
          data:
            data:
              channel: Reminders
              notification_icon: mdi:reminder
          condition: '{{ is_state(''input_boolean.test'', ''on'') }}'
        - alias: Announce reminder via TTS to Martijn
          action: tts.speak
          target:
            entity_id: tts.home_assistant_cloud
          data:
            media_player_entity_id: media_player.martijn
          prefix: 'Dit is een reminder voor:'
          condition: '{{ is_state(''person.martijn'', ''home'') }}'
      - name: Marleen
        description: Mother of the house
        notifiers:
        - alias: Send mobile notification to Marleen
          action: notify.phone_marleen
          data:
            data:
              channel: Reminders
              notification_icon: mdi:reminder
      llm_agent: conversation.chatgpt
      todo_entity: todo.reminder
      triggers:
      - alias: Trigger to check for Todo items every minute
        trigger: time_pattern
        minutes: /5
      after_notification: Mark as completed
- id: '1762721132649'
  alias: Studio Code Server alert using Telegram
  description: ''
  use_blueprint:
    path: TheFes/telegram_alert.yaml
    input:
      trigger_entity: binary_sensor.studio_code_server_running
      problem_state: 'on'
      repeat:
      - 120
      alert_title: "\U0001F6A8 Studio Code Server addon is al even actief!"
      alert_message: De Studio Code Server add-on is actief. Ben je nog steeds aan
        het coderen?
      done_message: De Studio Code Server add-on is niet meer actief.
      acknowledge_button_label: Stop met deze onzin
      can_acknowledge: false
      button_1_label: Zet addon uit
      acknowledge_message: Onzin wordt niet meer verstuurd
      button_1_actions:
      - action: hassio.addon_stop
        metadata: {}
        data:
          addon: a0d7b954_vscode
      skip_first: true
      target:
      - event.thefes_casa_alert_update_event
      parse_mode: markdown
      alert_data_sensor: sensor.thefes_alert_data
- id: '1762784076225'
  alias: TEST ALERT TELEGRAM
  description: ''
  use_blueprint:
    path: TheFes/telegram_alert.yaml
    input:
      trigger_entity: input_boolean.test
      problem_state: 'on'
      repeat:
      - 0.5
      config_entry: 01K9CHBP94KXC847V9Z7KB8EVY
      target:
      - event.thefes_casa_alert_update_event
      - event.thefes_update_event
      parse_mode: markdown
      alert_title: "❄️ Freezer door alert \U0001F6A8"
      alert_message: "The freezer door has been open for over 15 minutes! Quickly
        close it before everything gets spoiled. \U0001F4A6"
      done_message: "The freezer door is closed again. Your food is safe! \U0001F389"
      acknowledge_button_label: Stop bugging me!
      acknowledge_message: I will stop bugging you about the freezer door.
      button_1_label: Announce over speakers
      button_1_actions:
      - action: input_boolean.toggle
        metadata: {}
        data: {}
        target:
          entity_id: input_boolean.test
      can_acknowledge: true
      remove_previous_message: true
      remove_when_done: true
      disable_web_page_preview: true
      button_2_label: Send message to wife
      button_2_actions:
      - action: light.turn_off
        metadata: {}
        data: {}
        target:
          entity_id: light.groep_buiten
      use_done_title: false
      use_ack_title: false
      alert_data_sensor: sensor.thefes_alert_data
- id: '1762897506680'
  alias: Send Assist command using Telegram
  description: ''
  use_blueprint:
    path: TheFes/telegram_assist.yaml
    input:
      telegram_event:
      - event.thefes_update_event
      llm_entity:
      - conversation.gemini_assist
      - conversation.chatgpt
- id: 59789ae0-a7d2-4854-9e77-a621026d4e11
  alias: Telegram Alert voor Media Server
  use_blueprint:
    path: TheFes/telegram_alert.yaml
    input:
      trigger_entity: sensor.server_boot_status
      problem_state: Manual Boot
      repeat: 30
      skip_first: true
      target:
      - event.thefes_casa_alert_update_event
      alert_title: "\U0001F37F Media Server alert"
      alert_message: De server staat op "Manual boot". Moet ie aanblijven?
      done_message: Media Server gaat nu vanzelf weer uit!
      button_1_label: Zet maar uit!
      button_1_actions:
      - action: switch.turn_off
        target:
          entity_id: switch.server_start
      alert_data_sensor: sensor.thefes_alert_data
- id: '1763041373153'
  alias: Alert numeric test
  description: ''
  use_blueprint:
    path: TheFes/telegram_alert.yaml
    input:
      trigger_entity: sensor.test_sensor_for_alert
      problem_state: '10'
      problem_type: above
      repeat: 1
      target:
      - event.thefes_casa_alert_update_event
      alert_title: Test numeric alert
      alert_message: The value is wrong
      done_message: It's done
      acknowledge_message: It's acknowledged
      alert_data_sensor: sensor.thefes_alert_data
      can_acknowledge: true
      attribute_key: attribute
