- id: '1737403451714'
  alias: Music Assistant - Local(only) Voice Support Blueprint
  description: ''
  use_blueprint:
    path: music-assistant/mass_assist_blueprint_en.yaml
    input:
      default_player_entity_id_input: media_player.test_player
      album_trigger:
      - (play|listen to|bla bla) [the ](album|ep|record|compilation|single) {media_name}
        [by [the ](artist|band|group) {artist}] [(in|on|using) [the ]{area_or_player_name}][
        (with|using) {radio_mode}]
      track_trigger:
      - (play|listen to|bla bla) [the ](track|song) {media_name} [by [the ](artist|band|group)
        {artist}] [(in|on|using) [the ]{area_or_player_name}][ (with|using) {radio_mode}]
      artist_trigger:
      - (play|listen to|bla bla) [the ](artist|band|group) {media_name} [(in|on|using)
        [the ]{area_or_player_name}][ (with|using) {radio_mode}]
      radio_trigger:
      - (play|listen to|bla bla) [the ]((radio station)|(radio)|(station)) {media_name}
        [(in|on|using) [the ]{area_or_player_name}]
      playlist_trigger:
      - (play|listen to|bla bla) [the ]playlist {media_name} [(in|on|using) [the ]{area_or_player_name}][
        (with|using) {radio_mode}]
      response_input: 'TEST: {{ trigger.slots.media_name }} playing on {{ mass_player_name
        }}'
- id: '1737968496160'
  alias: Voice - Weather Forecast - Local Assist Blueprint
  description: ''
  use_blueprint:
    path: TheFes/1_voice_weather_forecast_local.yaml
    input:
      weather_entity: weather.combined
- id: '1737968516911'
  alias: Voice - Weather Forecast - Local Assist Blueprint
  description: ''
  use_blueprint:
    path: TheFes/1_voice_weather_forecast_local.yaml
    input:
      weather_entity: weather.combined
      today:
      - vandaag
      tomorrow:
      - morgen
      day_after_tomorrow:
      - overmorgen
      monday:
      - maandag
      tuesday:
      - dinsdag
      wednesday:
      - woensdag
      thursday:
      - donderdag
      friday:
      - vrijdag
      saturday:
      - zaterdag
      sunday:
      - zondag
      night:
      - vannacht
      - morgennacht
      - morgen nacht
      morning:
      - ochtend
      - morgenvroeg
      - morgen vroeg
      afternoon:
      - middag
      - vanmiddag
      - morgenmiddag
      evening:
      - morgenavond
      - vanavond
      - morgen avond
      clear: en helder
      clear-night: en helder
      cloudy: en bewolkt
      fog: en misting
      hail: met hagel
      lightning: met onweer
      lightning-rainy: met onweer en regen
      partlycloudy: en gedeeltelijk bewolkt
      pouring: met stortregen
      rainy: met regen
      snowy: met sneeuw
      snowy-rainy: met sneeuw en regen
      sunny: en zonnig
      windy: en winderig
      windy-variant: met wind en woken
      exceptional: met zeer uitzonderlijk weer
      response_invalid_phrase: Ik kan geen weersvoorspelling ophalen voor {{ phrase
        }}
      response_no_data: Geen weersvoorspelling beschikbaar voor {{ phrase }}
      response_forecast: Het wordt {{ temperature }} graden {{ condition_translated
        }}. {% if temperature != apparent_temperature %}Het voelt als {{ apparent_temperature
        }} graden.{% endif %} {% if precipitation_probability > rain_warning_threshold
        %}Er is {{ precipitation_probability }}% kans op {{ precipitation }} milimeter
        regen, dus neem een paraplu mee als je naar buiten gaat.{% endif %} {% if
        uv_index > 3 and condition in ['clear', 'partlycloudy'] %}De zon schijnt fel
        vandaag, dus doe zonnebrand op als je naar buiten gaat.{% endif %} {% if wind_speed
        >= wind_threshold %} De wind wordt {{ wind_phrase }}.{% endif %} {% if wind_speed
        >= wind_warning_threshold %}Dus als je niet per se naar buiten hoeft, blijf
        dan vooral lekker binnen.{% elif wind_speed >= wind_joke_threshold %}Dus zorg
        dat je {% if precipitation_probability > 10 %}paraplu {% else %}'t{% endif
        %}niet weg waait!{% endif %}
      wind_phrases:
        windstil: 0
        zwak: 1
        matig: 12
        vrij krachtig: 29
        krachtig: 39
        hard: 50
        stormachtig: 62
        een storm: 75
        een zware storm: 89
        een zeer zware storm: 103
        een orkaan: 118
      triggers:
      - Wat voor weer wordt het [[deze|komende] {phrase}]
      - Wat is de [weers]voorspelling [[voor] [deze|komende] {phrase}]
- id: '1738179908517'
  alias: Voice - Calendar Entries - Local Assist Blueprint
  description: ''
  use_blueprint:
    path: TheFes/1_voice_calendar_entries_local.yaml
    input:
      calendar_entity:
      - calendar.kids
      - calendar.thefes
      - calendar.m_m
      today:
      - vandaag
      tomorrow:
      - morgen
      day_after_tomorrow:
      - overmorgen
      monday:
      - maandag
      tuesday:
      - dinsdag
      wednesday:
      - woensdag
      thursday:
      - donderdag
      friday:
      - vrijdag
      saturday:
      - zaterdag
      sunday:
      - zondag
      night:
      - vannacht
      - morgennacht
      - morgen nacht
      morning:
      - ochtend
      - morgenvroeg
      - morgen vroeg
      afternoon:
      - middag
      - vanmiddag
      - morgenmiddag
      evening:
      - morgenavond
      - vanavond
      - morgen avond
      response_translations:
        Monday: maandag
        Tuesday: dinsdag
        Wednesday: woensdag
        Thursday: donderdag
        Friday: vrijdag
        Saturday: zaterdag
        Sunday: zondag
        January: januari
        February: februari
        March: maart
        April: april
        May: mei
        June: juni
        July: juli
        August: augustus
        September: september
        October: oktober
        November: november
        December: december
      event_singular: afspraak
      event_plural: afspraken
      no_events: Er zijn geen afspraken voor deze periode
      event_count: Op {date} heb je {event_count} {events}.
      day_event: Voor de hele dag staat er {event_list}.
      part_day_event: Van {start} tot {end} heb je {event_summary}.
      triggers:
      - wat staat er [voor|op] {phrase} op de (agenda|kalender|planning)
      - staat er [voor|op] {phrase} iets op de (agenda|kalender|planning)
- id: '1738230371255'
  alias: Voice - Get ToDo Entries - Local Assist Blueprint
  description: ''
  use_blueprint:
    path: TheFes/1_voice_get_todo_entries_local.yaml
    input:
      default_entity: todo.boodschappenlijst
      triggers:
      - wat staat er op [de] (boodschappen[ ]lijst|lijst (met de naam|genaamd) {list_name}|{list_name}[
        ]lijst)
      no_items_response: '{list_name} is leeg.'
      list_items_response: 'Er staan {item_count} dingen op: {list_items}'
      invalid_list_response: Ik kan geen lijst met de naam {list_name} vinden.
- id: '1743151381222'
  alias: Voice - Send Reminder - Automation
  description: ''
  use_blueprint:
    path: TheFes/0_voice_send_reminder.yaml
    input:
      recipients:
      - name: Martijn
        description: Father of the house
        notifiers:
        - alias: Send mobile notification to Martijn
          action: notify.mobile_app_pixel_10_pro
          data:
            data:
              ttl: 0
              priority: high
              channel: Reminders
              notification_icon: mdi:reminder
          condition: '{{ is_state(''input_boolean.test'', ''on'') }}'
        - alias: Announce reminder via TTS to Martijn
          action: tts.speak
          target:
            entity_id: tts.home_assistant_cloud
          data:
            media_player_entity_id: media_player.martijn
          prefix: 'Dit is een reminder voor:'
          condition: '{{ is_state(''person.martijn'', ''home'') }}'
      - name: Marleen
        description: Mother of the house
        notifiers:
        - alias: Send mobile notification to Marleen
          action: notify.mobile_app_pixel_8_marleen
          data:
            data:
              ttl: 0
              priority: high
              channel: Reminders
              notification_icon: mdi:reminder
      llm_agent: conversation.chatgpt
      todo_entity: todo.reminder
      triggers:
      - alias: Trigger to check for Todo items every minute
        trigger: time_pattern
        minutes: /5
      after_notification: Mark as completed
- id: '1762721132649'
  alias: Telegram alert for Studio Code Server add-on
  description: ''
  use_blueprint:
    path: TheFes/telegram_alert.yaml
    input:
      trigger_entity: binary_sensor.studio_code_server_running
      problem_state: 'on'
      repeat:
      - 90
      alert_title: "\U0001F6A8 Studio Code Server addon alert"
      alert_message: De Studio Code Server add-on is al even actief. Ben je nog steeds
        aan het coderen?
      done_message: De Studio Code Server add-on is niet meer actief.
      acknowledge_button_label: Stop met deze onzin
      can_acknowledge: false
      button_1_label: Zet addon uit
      acknowledge_message: Onzin wordt niet meer verstuurd
      button_1_actions:
      - action: hassio.addon_stop
        metadata: {}
        data:
          addon: a0d7b954_vscode
      skip_first: true
      target:
      - event.thefes_casa_alert_update_event
      parse_mode: markdown
      alert_data_sensor: sensor.thefes_alert_data
- id: '1762897506680'
  alias: Send Assist command using Telegram
  description: ''
  use_blueprint:
    path: TheFes/telegram_assist.yaml
    input:
      telegram_event:
      - event.thefes_update_event
      llm_entity:
      - conversation.gemini_assist
      - conversation.chatgpt
- id: 59789ae0-a7d2-4854-9e77-a621026d4e11
  alias: Telegram Alert voor Media Server
  use_blueprint:
    path: TheFes/telegram_alert.yaml
    input:
      trigger_entity: sensor.server_boot_status
      problem_state: Manual boot
      repeat: 30
      skip_first: true
      target:
      - event.thefes_casa_alert_update_event
      alert_title: "\U0001F37F Media Server alert"
      alert_message: De server staat op "Manual boot". Moet ie aanblijven?
      done_message: Media Server gaat nu vanzelf weer uit!
      button_1_label: Zet meteen uit (wanneer inactief)
      button_1_actions:
      - action: switch.turn_off
        target:
          entity_id: switch.server_start
        data: {}
      alert_data_sensor: sensor.thefes_alert_data
      button_2_label: Zet naar "Automatic boot"
      button_2_actions:
      - event: proxmox_server_state
        event_data:
          type: Automatic boot
- id: '1763041373153'
  alias: Alert numeric test
  description: ''
  use_blueprint:
    path: TheFes/telegram_alert.yaml
    input:
      trigger_entity: sensor.test_sensor_for_alert
      problem_state: '10'
      problem_type: above
      repeat: 1
      target:
      - event.thefes_casa_alert_update_event
      alert_title: Test numeric alert
      alert_message: The value is wrong
      done_message: It's done
      acknowledge_message: It's acknowledged
      alert_data_sensor: sensor.thefes_alert_data
      can_acknowledge: true
      attribute_key: attribute
- id: '1763123011049'
  alias: Telegram alert for trash collection
  description: ''
  use_blueprint:
    path: TheFes/telegram_alert.yaml
    input:
      trigger_entity: binary_sensor.container_alert
      problem_state: 'on'
      repeat: 60
      target:
      - event.thefes_casa_alert_update_event
      alert_title: ♻️ Container alert
      alert_message: De {{ state_attr(state_attr('sensor.dashboard_next_trash', 'next'),
        'friendly_name') }} container moet naar buiten!
      done_message: De container staat buiten!
      button_1_actions:
      - event: trash_is_outside
        event_data: {}
      button_1_label: Container staat buiten
      alert_data_sensor: sensor.thefes_alert_data
- id: '1763134334243'
  alias: Telegram Commands Automation
  description: ''
  use_blueprint:
    path: TheFes/telegram_command.yaml
    input:
      telegram_event:
      - event.thefes_update_event
      - event.thefes_casa_alert_update_event
      restart_description: Herstart Home Assistant gerelateerd component
      update_description: Lijst van updates
      custom_commands:
      - command: /ping
        description: Pong!
        text: "Pong \U0001F3D3"
        actions: []
      - command: /status
        description: Laat de status van het systeem zien
        text: "{% from 'relative_time_plus.jinja' import relative_time_plus as rtp
          %}\n\n\U0001F525 {{ states('sensor.processor_use', with_unit=true) }} CPU
          load.\n\U0001F9E0 {{ states('sensor.memory_use', with_unit=true) }} ({{
          states('sensor.memory_use_percent', with_unit=true) }}) gebruikt.\n\U0001F4BD
          {{ states('sensor.disk_use', with_unit=true) }} ({{\nstates('sensor.disk_use_percent',
          with_unit=true) }}) gebruikt, nog {{ states('sensor.disk_free', with_unit=true)
          }} vrij.\n\n\U0001F6E2️ De database is nu {{ states('sensor.database_size_sqlite',
          with_unit=true) }}.\n\n\U0001F680 HA is {{ rtp(states('sensor.home_assistant_uptime'),
          parts=2, language='nl') }} geleden opgestart, en de host {{ rtp(states('sensor.last_boot'),
          parts=2, language='nl') }} geleden.\n\n\U0001F4BE De laatse backup is {{
          rtp(states('sensor.backup_last_successful_automatic_backup'), language='nl')
          }} geleden, en de volgende is gepland over {{ rtp(states('sensor.backup_next_scheduled_automatic_backup'),
          language='nl') }}.\n"
      - command: /home
        description: Laat de status van het huis zien
        text: "{% set lights_on = label_entities('off_long_press') | select('match',
          'light.') | select('is_state', 'on') | list  | count %}\n{% set players_on
          = label_entities('off_long_press') | select('match', 'media_player.') |
          reject('is_state', ['off', 'idle']) | list  | count %}\n{% set switches_on
          = label_entities('area_data') | select('match', 'switch.') | select('is_state',
          'on') | list  | count %}\n\U0001F3E0 Huis status: {{ states('sensor.house_mode')
          }}\n\U0001F636 {{ states('zone.home') }} {{ 'persoon' if states('zone.home')
          == '1' else  'personen' }} thuis\n\U0001F4A1 {{ lights_on }} lamp{{ 'en'
          if lights_on != 1 }} aan\n\U0001F39A️ {{ switches_on }} schakelaar{{ 's'
          if switches_on != 1 }} aan\n\U0001F4FB {{ players_on }} media player{{ 's'
          if players_on != 1 }} aan"
      - command: /alert
        description: Laat de status van de Telegram alerts zien
        text: "{% from 'relative_time_plus.jinja' import relative_time_plus %}\nActieve
          alerts: {{ states('sensor.thefes_alert_data') }}\n{% for k, v in state_attr('sensor.thefes_alert_data',
          'alert_data').items() if v -%}\n- **{{ v.alert_title }}**\n  Sinds: {{ relative_time_plus(v.alert_start,
          2, language='nl') }}\n  Volgende melding over {{ relative_time_plus(v.next_alert,
          2, language='nl') }}\n  Aantal verstuurde meldingen: {{ v.alert_count }}\n{%
          endfor %}"
      restart:
      - name: Home Assistant core
        arg: core
        actions:
        - action: homeassistant.restart
          data: {}
      - name: Home Assistant OS
        arg: haos
        actions:
        - action: hassio.host_reboot
          metadata: {}
          data: {}
      - name: Zigbee2MQTT
        arg: /z2m
        actions:
        - action: hassio.addon_restart
          metadata: {}
          data:
            addon: 9336c2b0_zigbee2mqtt
      - name: Test
        arg: test
        actions:
        - action: light.toggle
          metadata: {}
          data: {}
          target:
            entity_id: light.wc
      update_text: '**{{ update_name }}**

        Huidige versie: {{ installed_version }}

        Nieuwe versie: {{ latest_version }}

        {{ (''[Release notes](''~release_url~'')'') if notes is not none }}

        '
      restart_text: '{{ restart_name}} wordt opnieuwe gestart'
      update_fail_text: Update voor {{ update_name }} mislukt
      update_success_text: Update voor {{ update_name }} uitgevoerd
      update_skipped_text: Update voor {{ update_name }} overgeslagen
      no_update_text: Er zijn nu geen updates
      invalid_command_text: Ongeldig commando, gebruik /help voor een lijst van commando's
      timeout_message: De tijd om een knop in te drukken voor {{ command }} is voorbij.
        Het commando is gestopt.
      restart_verify_cancel: Nee
      restart_verify_confirm: Ja
      restart_verify_message: Weet je het zeker?
      restart_message: Wat wil je herstarten?
      skip_label: Overslaan
      update_label: Installeren
      ignore_integrations:
      - esphome
- id: '1763653411810'
  alias: Telegram alert for unavailable covers
  description: ''
  use_blueprint:
    path: TheFes/telegram_alert.yaml
    input:
      trigger_entity: binary_sensor.cover_unavailable
      problem_state: 'on'
      repeat: 30
      skip_first: true
      target:
      - event.thefes_casa_alert_update_event
      alert_title: "{%- set names = state_attr('binary_sensor.cover_unavailable',
        'name') %}\n{%- set names = iif(names, names, []) %}\n\U0001F6A8 Screen{{
        iif(names | count == 1, '', 's') }} niet beschikbaar"
      alert_message: '{%- set names = state_attr(''binary_sensor.cover_unavailable'',
        ''name'') %}

        {%- set names = iif(names, names, []) %}

        De volgende screens zijn niet beschikbaar: {{ names | join('', '') }}'
      can_acknowledge: true
      acknowledge_button_label: Stop meldingen
      button_1_label: Reload integratie
      button_1_actions:
      - action: homeassistant.reload_config_entry
        metadata: {}
        data: {}
        target:
          entity_id: cover.veranda
      use_done_title: false
      alert_data_sensor: sensor.thefes_alert_data
- id: '1763653648602'
  alias: Telegram Alert for tablet battery
  description: ''
  use_blueprint:
    path: TheFes/telegram_alert.yaml
    input:
      trigger_entity: binary_sensor.charge_tablet
      problem_state: 'on'
      repeat: 120
      target:
      - event.thefes_casa_alert_update_event
      alert_message: "{% if states('sensor.tablet_battery_level') | float(0) == 100
        %}\n  De batterij van de tablet is weer vol!\n{% else %}\n  De batterij van
        de tablet is nog maar {{ states('sensor.tablet_battery_level') | int }}%.
        Hang hem snel aan de lader!\n{% endif %}"
      alert_title: "{{ '\U0001FAAB' if states('sensor.tablet_battery_level') | float(0)
        < 100 else '\U0001F50B' }} Batterij tablet"
      acknowledge_button_label: Stop meldingen
      alert_data_sensor: sensor.thefes_alert_data
- id: '1764066571964'
  alias: Telegram alert for Holiday
  description: ''
  use_blueprint:
    path: TheFes/telegram_alert.yaml
    input:
      trigger_entity: binary_sensor.holiday_alert
      problem_state: 'on'
      repeat: 60
      target:
      - event.thefes_casa_alert_update_event
      alert_title: "\U0001F334 Vakantie modus alert"
      alert_message: Jullie zijn al even niet thuis, zijn jullie op vakantie?
      use_done_title: false
      button_1_label: Yep ☀️
      button_1_actions:
      - action: input_boolean.turn_on
        metadata: {}
        data: {}
        target:
          entity_id: input_boolean.vakantie
      button_2_label: "Nope \U0001F61E"
      button_2_actions:
      - event: stop_holiday_alert
        event_data: {}
      alert_data_sensor: sensor.thefes_alert_data
