{%- macro _state(entities, state, compare) -%}
  {%- if state | is_number and compare != 'eq' -%}
    {%- set ns = namespace(state_list=[]) -%}
    {%- for i in expand(entities)  | selectattr('state', 'is_number') -%}
      {%- set ns.state_list = ns.state_list + [ dict( e=i[return], v=v) ] -%}
    {%- endfor -%}
    {{ ns.state_list | selectattr('v', compare, state) | map(attribute='e') | list | to_json }}
  {%- else -%}
    {{- expand(entities) | selectattr('state', compare, state | string) | map(attribute='entity_id') | list | to_json -}}
  {%- endif -%}
{%- endmacro -%}

{%- macro _attr(state_select, attribute, attr_value, attr_compare) -%}
  {%- set select_param = 'attributes.' ~ attribute -%}
  {%- set attr_select = expand(state_select) | selectattr(select_param, 'defined') -%}
  {%- if attr_value -%}
    {%- set attr_select = attr_select | selectattr(select_param, attr_compare, attr_value) -%}
  {%- endif -%}
  {{- attr_select | map(attribute='entity_id') | list | to_json -}}
{%- endmacro -%}

{%- macro _result(attr_select, return, attr) -%}
  {%- if return in [ 'entity_id', 'name', 'state' ] -%}
    {{- expand(attr_select | from_json) | map(attribute=return) | list -}}
  {%- elif return == 'count' -%}
    {{- attr_select | from_json | count -}}
  {%- else -%}
    {%- set e = expand(attr_select | from_json) -%}
    {%- set v = (e | map(attribute='attributes.' ~ attr) if 'attr' in return else e | map(attribute='state')) | select('is_number') | list -%}
    {%- if 'sum' in return -%}
      {{ v | sum }}
    {%- else -%}
      {{- v | average if v else 'no data' -}}
    {%- endif -%}
  {%- endif -%}
{%- endmacro -%}

{%- macro domain_state(domain, state, compare, attribute, attr_value, attr_compare, return) -%}
  {%- set entities = (states[domain] if domain is defined else states) | map(attribute='entity_id') | list -%}
  {%- set compare, attr_compare = compare | default('eq'), attr_compare | default('eq') -%}
  {%- set return = return | default('count') -%}
  {%- set select_param = 'attributes.' ~ attribute if attribute is defined else 'state' -%}
  {%- set valid_compare = compare in ['eq', '==', 'equalto', 'lt', 'lessthan', '<', 'le', '<=', 'gt', 'greaterthan', '>', 'ge', '>='] -%}
  {%- set valid_return = return in [ 'entity_id', 'name', 'state', 'sum', 'count', 'average', 'sum_attr', 'avg_attr' ] -%}
  {%- set valid_attr_compare = attr_compare in ['eq', '==', 'equalto', 'ne', '!=', 'lt', 'lessthan', '<', 'le', '<=', 'gt', 'greaterthan', '>', 'ge', '>='] -%}
  {%- if not valid_compare or not valid_attr_compare or not valid_return -%}
    Invalid input
  {%- else -%}
    {%- set state_select = entities if state is not defined else _state(entities, state, compare) | from_json -%}
    {%- set attr_select = _attr(state_select, attribute, attr_value | default(), attr_compare) if attribute is defined else state_select -%}
    {{ _result(attr_select, return, attribute | default()) }}
  {%- endif -%}
{%- endmacro -%}