{%- macro date_week(date) %}
    {%- set date = as_datetime(date, 'invalid') if date is string else date-%}
    {%- set date = date.date() if date is datetime else date -%}
    {%- if date != 'invalid' and now().date() <= date -%}
        {%- set date = date.date() if date is datetime else date -%}
        {%- set days = ['maandag', 'dinsdag', 'woensdag', 'donderdag', 'vrijdag', 'zaterdag', 'zondag' ] -%}
        {%- set days_until = (date - now().date()).days -%}
        {%- if days_until <= 1 %}
            {{- ['Vandaag', 'Morgen'][days_until] -}}
        {%- elif days_until < 7 - now().isoweekday() -%}
            {{- days[date.weekday()] | title -}}
        {%- elif days_until <= 14 - now().isoweekday() %}
            {{- 'Volgende week ' ~ days[date.weekday()] -}}
        {%- else -%}
            {{- 'Over ' ~ (days_until / 7) | round(0, 'ceil') ~ ' weken' -}}
        {%- endif %}
    {%- else -%}
        {{- 'Ongeldige datuminvoer' -}}
    {%- endif -%}
{%- endmacro -%}

{%- macro area_data(entity) -%}
  {%- set area_players = label_entities('area_players')
                        | select('in', area_entities(area_id(entity)))
                        | select('is_state', 'playing')
                        | list
  -%}
  {%- if area_players | count > 0 -%}
    {%- set player = area_players | first -%}
    {{- '{}: {}'.format(state_attr(player, 'app_name'), state_attr(player, 'media_artist')) -}}
  {%- else -%}
    {%- set area_list = label_devices('area_data')
                          | select('in', area_devices(area_id(entity)))
                          | map('device_entities')
                          | sum(start=[])
                          | list
    -%}
    {%- set unit = dict(temperature=' °C', humidity=' %', illuminance=' lx') -%}
    {%- set ns = namespace(data=[]) -%}
    {%- for i in ['temperature', 'humidity', 'illuminance'] -%}
      {%- set data =  area_list
                      | select('is_state_attr', 'device_class', i)
                      | map('states')
                      | map('float', none)
                      | select()
                      | average(none)
                      | round(1 if i == 'temperature' else 0, default=none)
      -%}
      {%- set ns.data = ns.data + [data ~ unit[i]] if data else ns.data -%}
    {%- endfor -%}
    {{- ns.data | join(' | ') -}}
  {%- endif -%}
{%- endmacro -%}