{%- macro date_week(date) %}
    {%- set date = as_datetime(date, 'invalid') if date is string else date-%}
    {%- set date = date.date() if date is datetime else date -%}
    {%- if date != 'invalid' and now().date() <= date -%}
        {%- set date = date.date() if date is datetime else date -%}
        {%- set days = ['maandag', 'dinsdag', 'woensdag', 'donderdag', 'vrijdag', 'zaterdag', 'zondag' ] -%}
        {%- set days_until = (date - now().date()).days -%}
        {%- if days_until <= 1 %}
            {{- ['Vandaag', 'Morgen'][days_until] -}}
        {%- elif days_until < 7 - now().isoweekday() -%}
            {{- days[date.weekday()] | title -}}
        {%- elif days_until <= 14 - now().isoweekday() %}
            {{- 'Volgende week ' ~ days[date.weekday()] -}}
        {%- else -%}
            {{- 'Over ' ~ (days_until / 7) | round(0, 'ceil') ~ ' weken' -}}
        {%- endif %}
    {%- else -%}
        {{- 'Ongeldige datuminvoer' -}}
    {%- endif -%}
{%- endmacro -%}

{# shows unavailable devices, what's playing or temp|humidity|lux of an area #}
{%- macro area_data(entity_or_area) -%}
  {% set state_check = (entity_or_area if '.' in entity_or_area else area_entities(entity_or_area))
                        | expand
                        | map(attribute='entity_id')
                        | select('is_state', 'unavailable')
                        | reject('search', '^button.|^event.|^device_tracker|^media_player|internet_access')
                        | map('device_id')
                        | reject('eq', '440db56c2fddace0d05637d2e0635dca')
                        | select()
                        | unique
                        | list 
  -%}
  {% set ns = namespace(state_check=[]) %}
  {% for d in state_check if device_entities(d) | select('has_value') | list | count == 0 %}
    {% set ns.state_check = ns.state_check + [device_attr(d, 'name_by_user') or device_attr(d, 'name')] %}
  {% endfor %}
  {%- if ns.state_check | count > 0 %}
    {{- (ns.state_check | join(', ') | regex_replace(',([^,]*)$', ' en ' ~ state_check[-1])) | trim ~ ' niet beschikbaar'-}} 
  {%- else -%}
    {% set a_id = area_id(entity_or_area) | default(entity_or_area, true) %}
    {%- set area_players = label_entities('area_players')
                          | select('in', area_entities(a_id))
                          | select('is_state', 'playing')
                          | list
    -%}
    {%- if area_players | count > 0 -%}
      {%- set player = area_players | first -%}
      {{- '{}: {}'.format(state_attr(player, 'app_name'), state_attr(player, 'media_artist')) -}}
    {%- else -%}
      {%- set area_list = label_devices('area_data')
                            | select('in', area_devices(a_id))
                            | map('device_entities')
                            | sum(start=[])
                            | list
      -%}
      {%- set area_list = area_list + area_entities(a_id) | select('in', label_entities('area_data')) | list -%}
      {%- set unit = dict(temperature=' °C', humidity=' %', illuminance=' lx') -%}
      {%- set ns = namespace(data=[]) -%}
      {%- for i in ['temperature', 'humidity', 'illuminance'] -%}
        {%- set data =  area_list
                        | select('is_state_attr', 'device_class', i)
                        | map('states')
                        | map('float', none)
                        | select()
                        | average(none)
                        | round(1 if i == 'temperature' else 0, default=none)
        -%}
        {%- set ns.data = ns.data + [data ~ unit[i]] if data else ns.data -%}
      {%- endfor -%}
      {{- ns.data | join(' | ') -}}
    {%- endif -%}
  {%- endif -%}
{%- endmacro -%}