substitutions:
  log_level: DEBUG

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_pass
  fast_connect: on
  min_auth_mode: WPA2
  manual_ip:
    static_ip: ${ip}
    gateway: 192.168.2.100
    subnet: 255.255.255.0
  ap:
    ssid: "${name}"
    password: !secret hotspot_pass

# Enable logging
logger:
  level: "${log_level}"

# Enable Home Assistant API
api:
  encryption:
    key: !secret api_key

# Enable OTA updates
ota:
  - platform: esphome
