wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_pass
  fast_connect: on
  manual_ip:
    static_ip: ${ip}
    gateway: 192.168.2.100
    subnet: 255.255.255.0
  ap:
    ssid: "${device_name} ${device_type} Hotspot"
    password: !secret hotspot_pass

captive_portal:
  
# Enable logging
logger:
  level: INFO

# Enable Home Assistant API
api:

# Enable OTA updates
ota:
